<div class="card">
  <div class="item item-divider item-positive about">
    About Critical Roll
  </div>
  <div class="item item-text-wrap ">
    <p>
      This app is inspired on Paizo's
      <a href="#" onclick="openLink('http://paizo.com/products/btpy8rwf')">iCrit</a> and
      <a href="#" onclick="openLink('http://paizo.com/products/btpy8rwg')">iFumble</a> Apps for Android and iOS. These are based in the
      <a href="#" onclick="openLink('http://paizo.com/products/btpy8ysr')">Gamemastery Critical Hit</a> and
      <a href="#" onclick="openLink('http://paizo.com/products/btpy89mn')">Gamemastery Critical Fumble</a> decks.
    </p>
    <p>You should check these awesome options and see if they suit you.</p>
    <br/>
    <p>This was made as an open alternative just to have room to make some custom improvements. It's not endorsed by Paizo Publishing, LLC or Wizards of the Coast, Inc. Please, refer to the "License" option on the menu for more information.</p>
    <br/>
    <p>Do you wish to contribute to this project? Awesome! Just check the "How to contribute" option.</p>
  </div>
</div>
