<div class="card">
  <div class="item item-divider item-energized help">
    Help!
  </div>
  <div class="item item-text-wrap ">
    <p>You just confirmed a critical hit or got struck by an awful fumble? This is the moment to add more drama!</p>

    <br/>
    <p>If your weapon critical multiplier is <b>x2</b>, draw a critical effect and apply it's effects. But weapons with a multiplier of <b>x3</b> and <b>x4</b> draw two and three effects respectively and you can choose the best!</p>
    <ul class="critical">
      <li>You scored that critical with a <b>slashing weapon</b>? Press the
        <span class="icon-character slashing"></span> button below!</li>
      <li>You hurt someone with a pointy <b>piercing weapon</b>? The
        <span class="icon-character piercing"></span> button is what you look for.</li>
      <li>You wielded a mighty <b>bludgeoning weapon</b> against the enemy? Smash the
        <span class="icon-character bludgeoning"></span> button.</li>
      <li>You harm someone with a critical <b>magic attack</b>? The
        <span class="icon-character magic"></span> has some surprises for you.</li>
    </ul>

    <br/>
    <p>In a case of a nasty fumble, just draw one effect. Some can be pretty harmful!</p>
    <ul class="fumble">
      <li>You got clumsy and fumbled with a <b>melee weapon</b>? You should press the
        <span class="icon-character melee"></span> button below.</li>
      <li>You had butterfingers while wielding a <b>ranged weapon</b>? There's a
        <span class="icon-character ranged"></span> button for that.</li>
      <li>You didn't use weapons and you fumbled with a <b>natural weapon</b>? Sadly, there's also a
        <span class="icon-character natural"></span> button.</li>
      <li>Something bad happened trying to make a <b>magic attack</b>? The
        <span class="icon-character magic"></span> has some bad news for you.</li>
    </ul>

    <br/>
    <p>Have fun!</p>
  </div>
</div>