<div class="card">
	<div class="item item-divider item-energized help">
		{{'HELP-TITLE' | translate}}
	</div>
	<div class="item item-text-wrap ">
		<p>{{'HELP-1' | translate}}</p>
		<br/>

		<p>
			{{'HELP-2' | translate}}
			<b>x2</b>
			{{'HELP-3' | translate}}
			<b>x3</b>
			{{'HELP-4' | translate}}
			<b>x4</b>
			{{'HELP-5' | translate}}
		</p>

		<div class="critical">
			<p><span class="icon-character slashing"></span>: {{'SLASHING-WEAPON' | translate}}</p>

			<p><span class="icon-character piercing"></span>: {{'PIERCING-WEAPON' | translate}}</p>

			<p><span class="icon-character bludgeoning"></span>: {{'BLUDGEONING-WEAPON' | translate}}</p>

			<p><span class="icon-character magic"></span>: {{'MAGIC-ATTACK' | translate}}</p>
		</div>
		<br/>

		<p>{{'HELP-6' | translate}}</p>

		<div class="fumble">
			<p><span class="icon-character melee"></span>: {{'MELEE-ATTACK' | translate}}</p>

			<p><span class="icon-character ranged"></span>: {{'RANGED-ATTACK' | translate}}</p>

			<p><span class="icon-character natural"></span>: {{'NATURAL-ATTACK' | translate}}</p>

			<p><span class="icon-character magic"></span>: {{'MAGIC-ATTACK' | translate}}</p>
		</div>
		<br/>

		<p>{{'HELP-7' | translate}}</p>
	</div>
</div>
