<div class="card">
  <div class="item item-divider item-energized help">
    Help!
  </div>
  <div class="item item-text-wrap ">
    <p>You just confirmed a critical hit or got struck by an awful fumble? This is the moment to add more drama to the fight!</p>

    <br/>
    <p>Weapons with critical multiplier of <b>x2</b>, can only draw a single critical effect, but weapons with a <b>x3</b> and <b>x4</b> multipler draw two and three effects respectively and you can choose the best!</p>
    <div class="critical">
      <p>
        <span class="icon-character slashing"></span>: Slashing weapon</p>
      <p>
        <span class="icon-character piercing"></span>: Piercing weapon</p>
      <p>
        <span class="icon-character bludgeoning"></span>: Bludgeoning weapon</p>
      <p>
        <span class="icon-character magic"></span>: Magic attack</p>
    </div>

    <br/>
    <p>In a case of a nasty fumble, just draw one effect. Some can be pretty nasty!</p>
    <div class="fumble">
      <p>
        <span class="icon-character melee"></span>: Melee attack</p>
      <p>
        <span class="icon-character ranged"></span>: Ranged attack</p>
      <p>
        <span class="icon-character natural"></span>: Natural attack</p>
      <p>
        <span class="icon-character magic"></span>: Magic attack</p>
    </div>

    <br/>
    <p>Have fun!</p>
  </div>
</div>
