<div class="card">
	<div class="item item-divider item-dark opensource">
		{{'CONTRIBUTE-TITLE' | translate}}
	</div>
	<div class="item item-text-wrap ">
		<p>{{'CONTRIBUTE-1' | translate}}</p>
		<br/>

		<h3>{{'CONTRIBUTE-2' | translate}}</h3>

		<p>{{'CONTRIBUTE-3' | translate}}</p>
		<br/>

		<h3>{{'CONTRIBUTE-4' | translate}}</h3>

		<p>{{'CONTRIBUTE-5' | translate}}</p>

		<ul>
			<li><b>{{'CONTRIBUTE-6' | translate}}</b>
				<a href="#" onclick="openLink('https://github.com/gemorelli/CriticalRoll')">
					{{'CONTRIBUTE-7' | translate}}
				</a>
				{{'CONTRIBUTE-8' | translate}}
			</li>
			<li><b>{{'CONTRIBUTE-9' | translate}}</b>
				<a href="#" onclick="openLink('https://github.com/gemorelli/CriticalRoll/issues')">
					{{'CONTRIBUTE-10' | translate}}
				</a>
				{{'CONTRIBUTE-11' | translate}}
			</li>
			<li><b>{{'CONTRIBUTE-12' | translate}}</b>
				<a href="mailto:gemorelli@gmail.com">
					{{'CONTRIBUTE-13' | translate}}
				</a>
				{{'CONTRIBUTE-14' | translate}}
			</li>
			<li><b>{{'CONTRIBUTE-15' | translate}}</b>
				{{'CONTRIBUTE-16' | translate}}
				<a href="">{{'CONTRIBUTE-17' | translate}}</a>
			</li>
		</ul>
		<br/>

		<h3>{{'CONTRIBUTE-18' | translate}}</h3>

		<p>{{'CONTRIBUTE-19' | translate}}</p>

		<p>{{'CONTRIBUTE-20' | translate}}</p>
	</div>
</div>
