<div class="card">
  <div class="item item-divider item-dark opensource">
    How to contribute
  </div>
  <div class="item item-text-wrap ">
    <p>This an open source App</p>

    <br/>
    <h3>What does it mean?</h3>
    <p>It means that anybody can download, use, modify or redistribute the source code of this app in order to improve it or do a derivate work. The only concern is that the content data is protected under the Open Game License and if you want to include
      it, you should check the License option for more details.</p>

    <br/>
    <h3>How can you help?</h3>
    <p>Sure! There's always room for suggestions, enhancements, fixes and more.</p>
    <p>If you want to get the source code and contribute your work, <a href="#" onclick="openLink('https://github.com/gemorelli/CriticalRoll')">check the repository</a> and start coding.</p>
    <p>If you want to report a bug or suggest an enhancement, please <a href="#" onclick="openLink('https://github.com/gemorelli/CriticalRoll/issues')">report them here</a> or <a href="mailto:gemorelli@gmail.com">email me</a>.</p>

    <br/>
    <h3>Why should you care?</h3>
    <p>Well... Is up to you.</p>
    <p>But this App is distributed for free and without ads, just for the love to the game. It was made using the game's own open system and open technologies. Each bit of contribution helps a lot, so don't be afraid to give your own!</p>

  </div>
</div>
