<ion-popover-view class="fit platform-ios">
	<ion-content scroll="false">
		<ion-list>
			<ion-item ng-click="showOption('help')">
				<span>{{'HELP' | translate}}</span>
			</ion-item>
			<ion-item ng-click="showOption('about')">
				<span>{{'ABOUT' | translate}}</span>
			</ion-item>
			<ion-item ng-click="showOption('opensource')">
				<span>{{'CONTRIBUTE' | translate}}</span>
			</ion-item>
			<ion-item ng-click="showOption('license')">
				<span>{{'LICENSE' | translate}}</span>
			</ion-item>
			<ion-item class="item-select">
				<span>{{'LANGUAGE' | translate}}</span>
				<select ng-controller="LanguageController" ng-model="selected"
								ng-options="language as language.label for language in languages"
								ng-change="changeLanguage()"></select>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>