<ion-popover-view class="fit platform-ios">
  <ion-content scroll="false">
    <ion-list>
      <ion-item ng-click="showOption('help')">
        <span>Help</span>
      </ion-item>
      <ion-item ng-click="showOption('about')">
        <span>About</span>
      </ion-item>
      <ion-item ng-click="showOption('license')">
        <span>License</span>
      </ion-item>
      <ion-item ng-click="showOption('opensource')">
        <span>Open Source</span>
      </ion-item>
      <ion-item class="item-select">
        <span>System</span>
        <select>
          <option>Pathfinder</option>
          <option>D&amp;D 3.5</option>
          <option>D&amp;D 4</option>
          <option>D&amp;D 5</option>
        </select>
      </ion-item>
      <ion-item class="item-select">
        <span>Language</span>
        <select>
          <option>English</option>
          <option>Spanish</option>
        </select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
