.card {
  margin: 0;
}
.card .item:before,
.button:before {
  font-family: 'icomoon';
  font-size: x-large;
  line-height: inherit !important;
}
.card .item {
  padding-left: 8px;
  padding-bottom: 4px;
}
.card .license-text p {
  margin-top: 10px;
  font-size: small;
}