.card {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  background-color: #E0E0E0 !important;
  width: 90% !important;
}

.card-title {
  margin-left: 40px !important;
  font-size: large !important;
}

.card-text {
  line-height: 1.5;
  font-size: medium !important;
}

span.card-badge {
  height: 44px !important;
  width: 44px !important;
  min-height: 44px !important;
  min-width: 44px !important;
  position: absolute;
  border-radius: 50%;
  padding: 0 !important;
  margin: 5px;
}