#help {
	margin-top: 10px;
}

#help .icon-column {
	height: 45vh;
}

#help .icon-column .row {
	height: 25%;
}

#help .bug-column {
	text-align: center;
}

#help .bug-column .icon {
	position: relative;
}