#help {
  margin-top: 10px;
}

#help > .row {
  margin-bottom: 32px;
}

#help h3 {
  margin-left: auto;
  margin-right: auto;
}

#help p {
  line-height: 2;
  text-align: justify;
}

#help li {
  padding-left: 20px;
  line-height: 24px;
}

#help .badges {
  text-align: center;
}

#help .card-badge {
  position: relative;
  margin: 0;
}

#help .feedback {
  line-height: 44px;
}
