@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?#iefix-m87d5c") format('embedded-opentype'), url("../fonts/icomoon.woff?-m87d5c") format('woff'), url("../fonts/icomoon.ttf?-m87d5c") format('truetype'), url("../fonts/icomoon.svg?-m87d5c#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slashing:before {
  content: "\e603";
}
.piercing:before {
  content: "\e602";
}
.bludgeoning:before {
  content: "\e600";
}
.critical .magic:before {
  content: "\e601";
}
.melee:before {
  content: "\e605";
}
.ranged:before {
  content: "\e607";
}
.natural:before {
  content: "\e606";
}
.fumble .magic:before {
  content: "\e604";
}
.logo:before {
  content: "\e608";
}
.trash:before {
  content: "\e626";
}
.help:before {
  content: "\e621";
}
.about:before {
  content: "\e609";
}
.license:before {
  content: "\e623";
}
.opensource:before {
  content: "\e625";
}
.github:before {
  content: "\e620";
}
.mustache:before {
  content: "\e624";
}