.button-bar svg {
  height: 32px;
  width: 32px;
  fill: white;
  margin-top: 10px;
}

#home {
  height: 52px;
  width: 52px;
  max-width: initial;
  max-height: initial;
}

#home svg {
  height: 42px;
  width: 42px;
  fill: #444;
  margin-top: 6px;
}

#card-list .icon svg {
  height: 28px;
  width: 28px;
  fill: white;
  margin-top: 8px;
}

#trash {
  background-color: $positive
}

#trash svg {
  height: 28px;
  width: 28px;
  fill: white;
  margin-top: 8px;
}

#menu-button svg {
  height: 24px;
  width: 32px;
  fill: #444;
  margin-top: 14px;
}

#menu .icon svg {
  height: 52px;
  width: 52px;
  fill: #444;
  margin-left: 12px;
}

#menu .icon.icon-license svg {
  margin-left: 18px;
}

#help .icon svg {
  height: 28px;
  width: 28px;
  fill: white;
  margin-top: 8px;
}