.button-bar svg {
	height: 48px;
	width: 48px;
	fill: white;
	padding-top: 6px;
}

#card-list .icon svg {
	height: 36px;
	width: 36px;
	fill: white;
	padding-top: 6px;
}

#trash svg {
	height: 42px;
	width: 42px;
	fill: white;
	padding-top: 6px;
}

#menu-button svg {
	height: 42px;
	width: 42px;
	padding-top: 6px;
}

#menu .icon svg {
	height: 64px;
	width: 64px;
	padding-left: 6px;
}

#menu .icon.icon-license svg {
	padding-left: 12px;
}