.slider {
	height: 100%;
}

.slider-pager {
	top: 0;
	bottom: initial;
}

.slider-slide {
	padding-top: 30px;
}

.slider-slide .row {
	font-size: larger !important;
	line-height: 200% !important;
	padding-left: 20px;
	padding-right: 20px;
}

.slider-slide p {
	font-size: medium !important;
	line-height: 150% !important;
	padding-left: 20px;
	padding-right: 20px;
}

.slider-slide#slide1 .row {
	height: 33vh;
}

.slider-slide#slide2 .row {
	height: 70vh;
	text-align: center;
	font-size: medium !important;
}

.slider-slide .row [class^="icon-"] {
	font-size: 32px;
}

.slider-slide .row [class^="icon-"].big {
	font-size: 64px;
}