
.main-logo {
	height: 96px;
	font-size: 64px;
	vertical-align: text-top;
}

.item-radio {
	border: 0 !important;
}

.item-radio div {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	padding-right: 40px !important;
}

.item-radio i {
	padding: 0px !important;
}
