.scroll-content {
	overflow-y: hidden;
}

#menu .item-complex {
	height: 64px;
	min-height: initial;
	margin: 12px 0;
}

#menu .item-complex a {
	padding: 0;
	position: initial;
}

#menu .item-content .icon {
	left: 0;
}

#menu .item-radio {
	border: 0;
}

#menu .item-radio div {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 40px;
}

#menu .button-toggle {
	padding: 0;
}
