#settings .title {
	background-color: #ddd;
}

#settings .row {
	padding: 0;
}

#settings h2 {
	line-height: initial;
}

#settings button {
	text-transform: initial;
	width: 100%;
	padding: 0;
	min-height: 36px;
	line-height: 36px;
}

#settings .help-wanted {
	font-size: x-small;
	color: #52b3d9;
	text-decoration: none;
	position: absolute;
	right: 33%;
	top: 100px;
	padding: 3px;
	border: 2px solid #52b3d9;
	background: #fff;
	border-radius: 10px;
}

#settings .help-wanted:before {
	content: "";
	position: absolute;
	top: 6px;
	right: -16px;
	border-width: 6px 0 6px 15px;
	border-color: transparent #52b3d9;
	border-style: solid;
}

#settings .help-wanted:after {
	content: "";
	position: absolute;
	top: 8px;
	right: -12px;
	border-width: 4px 0 4px 12px;
	border-color: transparent #fff;
	border-style: solid;
}