<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.vanillaicecreamstudio.criticalroll" version="0.9.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CriticalRoll</name>
  <description>
    A tool for Tabletop RPGs as Pathfinder or D&amp;D
  </description>
  <author email="gemorelli@gmail.com" href="http://vanillaicecreamstudio.com/">
    Vanilla Icecream Studio
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <preference name='windows-target-version' value='8.1' />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
  <platform name="android">
    <icon src="resources/android/drawable-ldpi-icon.png" density="ldpi" />
    <icon src="resources/android/drawable-mdpi-icon.png" density="mdpi" />
    <icon src="resources/android/drawable-hdpi-icon.png" density="hdpi" />
    <icon src="resources/android/drawable-xhdpi-icon.png" density="xhdpi" />
    <icon src="resources/androin/drawable-xxhdpi-icon.png" density="xxhdpi" />
    <icon src="resources/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
  </platform>
  <platform name="wp8">
    <splash src="resources/wp8/splash.png" width="768" height="1280" />
  </platform>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
</widget>