<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.vanillaicecreamstudios.criticalroll" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CriticalRoll</name>
  <description>
    A tool for Tabletop RPGs as Pathfinder or D&amp;D
  </description>
  <author email="gemorello@gmail.com" href="http://vanillaicecreamstudios.com/">
    Vanilla Icecream Studios
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />

  <preference name="LoadingDialog" value="Loading CriticalRoll data,Please wait..." />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
</widget>