<ion-view view-title="{{'HELP-TITLE' | translate}}">

  <ion-nav-buttons side="left">
    <a id="home" href="#/app/main" class="button button-icon button-clear">
      <cr-icon type="help"></cr-icon>
    </a>
  </ion-nav-buttons>

  <ion-content id="help" class="has-header" has-bouncing="true">

    <div class="row intro-row">

      <div class="col">
        <h3>{{'HELP-INTO-TITLE' | translate}}</h3>

        <p>{{'HELP-INTO-TEXT-1' | translate}}</p>

        <p>{{'HELP-INTO-TEXT-2' | translate}}</p>

        <p>
          {{'HELP-INTO-TEXT-3' | translate}}
          <a class="link" ng-click="menu.openLink('pathfinderRPG')">http://paizo.com/pathfinderRPG/</a>
        </p>

      </div>
    </div>

    <div class="row critical-row">

      <div class="col col-80 text-column">
        <h3>{{'HELP-CRITICAL-TITLE' | translate}}</h3>

        <p>{{'HELP-CRITICAL-TEXT-1' | translate}}</p>

        <p>{{'HELP-CRITICAL-TEXT-2' | translate}}</p>

        <p>{{'HELP-CRITICAL-TEXT-3' | translate}}</p>
      </div>
      <div class="col col-20 icon-column">
        <div class="row">
					<span class="icon item-image button card-badge critical">
						<cr-icon type="critical-slashing"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge critical">
						<cr-icon type="critical-piercing"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge critical">
						<cr-icon type="critical-bludgeoning"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge critical">
						<cr-icon type="critical-magic"></cr-icon>
					</span>
        </div>
      </div>
    </div>

    <div class="row fumble-row">
      <div class="col col-20 icon-column">
        <div class="row">
					<span class="icon item-image button card-badge fumble">
						<cr-icon type="fumble-melee"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge fumble">
						<cr-icon type="fumble-ranged"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge fumble">
						<cr-icon type="fumble-natural"></cr-icon>
					</span>
        </div>
        <div class="row">
					<span class="icon item-image button card-badge fumble">
						<cr-icon type="fumble-magic"></cr-icon>
					</span>
        </div>
      </div>
      <div class="col col-80 text-column">
        <h3>{{'HELP-FUMBLE-TITLE' | translate}}</h3>

        <p>{{'HELP-FUMBLE-TEXT-1' | translate}}</p>

        <p>{{'HELP-FUMBLE-TEXT-2' | translate}}</p>

        <p>{{'HELP-FUMBLE-TEXT-3' | translate}}</p>
      </div>
    </div>

    <div class="row feedback-row">

      <div class="col col-67">
        <p>{{'HELP-FEEDBACK-TEXT-1' | translate}}</p>

        <p>{{'HELP-FEEDBACK-TEXT-2' | translate}}</p>

        <p>{{'HELP-FEEDBACK-TEXT-3' | translate}}</p>
      </div>
      <div class="col col-33 bug-column">
        <h4><a class="link" ng-click="menu.reportBug()">{{'HELP-FEEDBACK-TITLE' | translate}}</a></h4>
				<span class="icon item-image button card-badge criticalroll-icon-bug button-royal"
              ng-click="menu.reportBug()">
					<cr-icon type="bug"></cr-icon>
				</span>
      </div>

    </div>

  </ion-content>
</ion-view>
