<li>
  <ion-view view-title="{{'HELP-TITLE' | translate}}">

    <ion-nav-buttons side="left">
      <a id="home" href="#/app/main" class="button button-icon button-clear">
        <cr-icon type="help"></cr-icon>
      </a>
    </ion-nav-buttons>

    <ion-content id="help" class="has-header" has-bouncing="true">

      <div class="row">
        <div class="col">
          <div class="row">
            <h3>{{'HELP-INTO-TITLE' | translate}}</h3>
          </div>
          <p>{{'HELP-INTO-TEXT-1' | translate}}</p>
          <p>{{'HELP-INTO-TEXT-2' | translate}}</p>
          <p>{{'HELP-INTO-TEXT-3' | translate}}</p>
          <ul>
            <li><a class="link ion-checkmark-round" ng-click="menu.openLink('pathfinderRPG')"> Pathfinder RPG</a></li>
            <li><a class="link ion-checkmark-round" ng-click="menu.openLink('dnd5')"> Dungeon and Dragons 5th</a></li>
            <li><a class="link ion-checkmark-round" ng-click="menu.openLink('dnd3')"> Dungeon and Dragons 3.5</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <h3><span class="help-title">{{'HELP-CRITICAL-TITLE' | translate}}</span></h3>
          </div>
          <div class="row">
            <div class="col badges">
              <span class="button card-badge critical"><cr-icon type="critical-slashing"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge critical"><cr-icon type="critical-piercing"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge critical"><cr-icon type="critical-bludgeoning"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge critical"><cr-icon type="critical-magic"></cr-icon></span>
            </div>
          </div>
          <p>{{'HELP-CRITICAL-TEXT-MAIN' | translate}}</p>
          <h4>{{'HELP-CRITICAL-TEXT-PF' | translate}}</h4>
          <p>{{'HELP-CRITICAL-TEXT-PF-1' | translate}}</p>
          <p>{{'HELP-CRITICAL-TEXT-PF-2' | translate}}</p>
          <h4>{{'HELP-CRITICAL-TEXT-DND5' | translate}}</h4>
          <p>{{'HELP-CRITICAL-TEXT-DND5-1' | translate}}</p>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="row">
            <h3><span class="help-title">{{'HELP-FUMBLE-TITLE' | translate}}</span></h3>
          </div>
          <div class="row">
            <div class="col badges">
              <span class="button card-badge fumble"><cr-icon type="fumble-melee"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge fumble"><cr-icon type="fumble-ranged"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge fumble"><cr-icon type="fumble-natural"></cr-icon></span>
            </div>
            <div class="col badges">
              <span class="button card-badge fumble"><cr-icon type="fumble-magic"></cr-icon></span>
            </div>
          </div>
          <p>{{'HELP-FUMBLE-TEXT-MAIN' | translate}}</p>
          <p>{{'HELP-FUMBLE-TEXT-2' | translate}}</p>
          <p>{{'HELP-FUMBLE-TEXT-1' | translate}}</p>
          <h4>{{'HELP-FUMBLE-TEXT-CONFIRMATION' | translate}}</h4>
          <p>{{'HELP-FUMBLE-TEXT-CONFIRMATION-TEXT' | translate}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <h3>
              <span class="help-title">{{'HELP-FEEDBACK-TITLE' | translate}}</span>
            </h3>
          </div>
          <p>{{'HELP-FEEDBACK-TEXT-1' | translate}}</p>
          <p>{{'HELP-FEEDBACK-TEXT-2' | translate}}</p>
          <p>{{'HELP-FEEDBACK-TEXT-3' | translate}}</p>
          <ul ng-click="menu.openLink('share')">
            <li><a class="link ion-heart" ng-click="menu.openLink('pathfinderRPG')"> {{'HELP-FEEDBACK-TEXT-4' |
              translate}}</a></li>
          </ul>
        </div>
      </div>

    </ion-content>
  </ion-view>
