<ion-view view-title="{{'HELP-TITLE' | translate}}">

	<ion-nav-buttons side="left">
		<a id="home" href="#/app/main" class="button button-icon button-clear">
			<icon type="d20s"></icon>
		</a>
	</ion-nav-buttons>

	<ion-content id="help" class="has-header" has-bouncing="true">

		<div class="row intro-row">

			<div class="col">
				<h3>{{'HELP-INTO-TITLE' | translate}}</h3>

				<p>{{'HELP-INTO-TEXT-1' | translate}}</p>

				<p>{{'HELP-INTO-TEXT-2' | translate}}</p>

				<p>
					{{'HELP-INTO-TEXT-3' | translate}}
					<a class="link" ng-click="openLink('pathfinderRPG')">http://paizo.com/pathfinderRPG/</a>
				</p>

			</div>
		</div>

		<div class="row critical-row">

			<div class="col col-80 text-column">
				<h3>{{'HELP-CRITICAL-TITLE' | translate}}</h3>

				<p>{{'HELP-CRITICAL-TEXT-1' | translate}}</p>

				<p>{{'HELP-CRITICAL-TEXT-2' | translate}}</p>

				<p>{{'HELP-CRITICAL-TEXT-3' | translate}}</p>
			</div>
			<div class="col col-20 icon-column">
				<div class="row">
					<span class="icon item-image button card-badge critical">
						<icon type="critical-slashing"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge critical">
						<icon type="critical-piercing"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge critical">
						<icon type="critical-bludgeoning"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge critical">
						<icon type="critical-magic"></icon>
					</span>
				</div>
			</div>
		</div>

		<div class="row fumble-row">
			<div class="col col-20 icon-column">
				<div class="row">
					<span class="icon item-image button card-badge fumble">
						<icon type="fumble-melee"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge fumble">
						<icon type="fumble-ranged"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge fumble">
						<icon type="fumble-natural"></icon>
					</span>
				</div>
				<div class="row">
					<span class="icon item-image button card-badge fumble">
						<icon type="fumble-magic"></icon>
					</span>
				</div>
			</div>
			<div class="col col-80 text-column">
				<h3>{{'HELP-FUMBLE-TITLE' | translate}}</h3>

				<p>{{'HELP-FUMBLE-TEXT-1' | translate}}</p>

				<p>{{'HELP-FUMBLE-TEXT-2' | translate}}</p>

				<p>{{'HELP-FUMBLE-TEXT-3' | translate}}</p>
			</div>
		</div>

		<div class="row feedback-row">

			<div class="col col-67">
				<p>{{'HELP-FEEDBACK-TEXT-1' | translate}}</p>

				<p>{{'HELP-FEEDBACK-TEXT-2' | translate}}</p>

				<p>{{'HELP-FEEDBACK-TEXT-3' | translate}}</p>
			</div>
			<div class="col col-33 bug-column">
				<h4><a class="link" ng-click="openLink('feedback')">{{'HELP-FEEDBACK-TITLE' | translate}}</a></h4>
				<span class="icon item-image button card-badge criticalroll-icon-bug button-royal"
							ng-click="openLink('feedback')">
					<icon type="bug"></icon>
				</span>
			</div>

		</div>

	</ion-content>
</ion-view>