<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear logo" menu-toggle="left">
				</button>
			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
			<ul class="list">
				<ion-item ng-click="showTutorial()" menu-close>
					Help
				</ion-item>
				<ion-item href="#/app/contribute" menu-close>
					Contribute
				</ion-item>
				<ion-item href="#/app/license" menu-close>
					License
				</ion-item>
				<ion-item class="item-button-right">
					Share
					<div class="buttons">
						<button class="button button-stable" ng-click="shareAndroid()">
							<i class="icon icon-char melee"></i>
						</button>
						<button class="button button-stable" ng-click="shareWindowsPhone()">
							<i class="icon icon-char ranged"></i>
						</button>
					</div>
				</ion-item>
				<ion-item class="item-button-right">
					Language
					<ion-radio ng-model="choice" ng-value="'EN'">English</ion-radio>
					<ion-radio ng-model="choice" ng-value="'ES'">Spanish</ion-radio>
				</ion-item>
				<!--<select ng-controller="LanguageController" ng-model="selected"-->
				<!--ng-options="language as language.label for language in languages"-->
				<!--ng-change="changeLanguage()"></select>-->
			</ul>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>