<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear logo" menu-toggle="left">
				</button>
			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
			<ul class="list">
				<ion-item ng-click="showTutorial()" menu-close>
					{{'HELP' | translate}}
				</ion-item>
				<ion-item href="#/app/contribute" menu-close>
					{{'CONTRIBUTE' | translate}}
				</ion-item>
				<ion-item href="#/app/license" menu-close>
					{{'LICENSE' | translate}}
				</ion-item>
				<ion-item class="item-button-right">
					{{'SHARE' | translate}}
					<div class="buttons">
						<button class="button button-stable" ng-click="shareAndroid()">
							<i class="icon icon-char melee"></i>
						</button>
						<button class="button button-stable" ng-click="shareWindowsPhone()">
							<i class="icon icon-char ranged"></i>
						</button>
					</div>
				</ion-item>
				<ion-item class="item-button-right" ng-controller="LanguageController">
					{{'LANGUAGE' | translate}}
					<ion-radio ng-model="selected" ng-value="'EN'" ng-change="setLanguage('en')">{{'ENGLISH' | translate}}
					</ion-radio>
					<ion-radio ng-model="selected" ng-value="'ES'" ng-change="setLanguage('es')">{{'SPANISH' | translate}}
					</ion-radio>
				</ion-item>
			</ul>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>