<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable"></ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu width="80" side="left">
		<ion-content has-bouncing="true" overflow-scroll="false">
			<ul id="menu" class="list">
				<ion-item href="#/app/main" ng-click="toggleMenu()">
					<icon type="d20s"></icon>
				</ion-item>
				<ion-item href="#/app/help" ng-click="toggleMenu()">
					<icon type="help"></icon>
				</ion-item>
				<ion-item href="#/app/ruletips" ng-click="toggleMenu()">
					<icon type="reference"></icon>
				</ion-item>
				<ion-item href="#/app/settings" ng-click="toggleMenu()">
					<icon type="settings"></icon>
				</ion-item>
				<ion-item href="#/app/license" ng-click="toggleMenu()">
					<icon type="license"></icon>
				</ion-item>
				<ion-item href="#" ng-click="openLink('feedback')">
					<icon type="bug"></icon>
				</ion-item>
				<ion-item href="#" ng-click="share()">
					<icon type="share"></icon>
				</ion-item>
			</ul>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>