<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear icon-options dark" menu-toggle="left">
				</button>
			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu width="210" side="left">
		<ion-content>
			<ul class="list">
				<ion-item class="center main-logo" href="#/app/main" menu-close>
					<i class="icon icon-dice"></i>
				</ion-item>
				<ion-item ng-click="showTutorial()" menu-close>
					{{'HELP' | translate}}
				</ion-item>
				<ion-item href="#/app/contribute" menu-close>
					{{'CONTRIBUTE' | translate}}
				</ion-item>
				<ion-item href="#/app/license" menu-close>
					{{'LICENSE' | translate}}
				</ion-item>
				<ion-item class="item-icon-right" ng-show="isMobile()" ng-click="share()">
					{{'SHARE' | translate}}
				</ion-item>
				<ion-item ng-controller="LanguageController">
					{{'LANGUAGE' | translate}}
					<ion-radio ng-model="languageSelected" ng-value="'en'" ng-change="setLanguage('en')">{{'ENGLISH' |
						translate}}
					</ion-radio>
					<ion-radio ng-model="languageSelected" ng-value="'es'" ng-change="setLanguage('es')">{{'SPANISH' |
						translate}}
					</ion-radio>
				</ion-item>
				<!--<ion-item ng-controller="SystemController">-->
				<!--{{'SYSTEM' | translate}}-->
				<!--<ion-radio ng-model="system-selected" ng-value="'PFRPG'" ng-change="setSystem('PFRPG')">{{'SYSTEM-PFRPG' |-->
				<!--translate}}-->
				<!--</ion-radio>-->
				<!--<ion-radio ng-model="system-selected" ng-value="'DnD35'" ng-change="setSystem('DnD35')">{{'SYSTEM-DnD35' |-->
				<!--translate}}-->
				<!--</ion-radio>-->
				<!--</ion-item>-->
			</ul>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>