<ion-view view-title="CriticalRoll">

	<ion-nav-buttons side="right">
		<button class="button button-clear icon-trash" ng-click="removeAll()"></button>
	</ion-nav-buttons>

	<ion-content class="has-subfooter" has-bouncing="true">
		<ion-list can-swipe=true>
			<ion-item ng-repeat="card in drawnCards track by $index">
				<card></card>
			</ion-item>
		</ion-list>
	</ion-content>

	<ion-footer-bar id="critical-footer" class="bar-subfooter">
		<div id="critical-buttons" class="button-bar critical">
			<a id="critical-slashing" class="button slashing" ng-click="drawCard('critical','slashing')"></a>
			<a id="critical-piercing" class="button piercing" ng-click="drawCard('critical','piercing')"></a>
			<a id="critical-bludgeoning" class="button bludgeoning" ng-click="drawCard('critical','bludgeoning')"></a>
			<a id="critical-magic" class="button magic" ng-click="drawCard('critical','magic')"></a>
		</div>
	</ion-footer-bar>

	<ion-footer-bar id="fumble-footer" >
		<div id="fumble-buttons" class="button-bar fumble">
			<a id="fumble-melee" class="button melee" ng-click="drawCard('fumble','melee')"></a>
			<a id="fumble-ranged" class="button ranged" ng-click="drawCard('fumble','ranged')"></a>
			<a id="fumble-natural" class="button natural" ng-click="drawCard('fumble','natural')"></a>
			<a id="fumble-magic" class="button magic" ng-click="drawCard('fumble','magic')"></a>
		</div>
	</ion-footer-bar>

</ion-view>