<ion-view view-title="CriticalRoll">

	<ion-nav-buttons side="left">
		<button class="button button-clear logo" ng-click="openPopover($event,'menu')"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear trash" ng-click="removeAll()"></button>
	</ion-nav-buttons>

	<ion-content class="has-subfooter has-header" has-bouncing="true">
		<ion-list can-swipe=true>
			<ion-item ng-repeat="card in drawnCards track by $index">

				<card ng-if="card.primaryType == 'critical' || card.primaryType == 'fumble'"></card>

				<help ng-if="card.primaryType == 'help'"></help>

				<about ng-if="card.primaryType == 'about'"></about>

				<license ng-if="card.primaryType == 'license'"></license>

				<contribute ng-if="card.primaryType == 'contribute'"></contribute>

			</ion-item>
		</ion-list>
	</ion-content>

	<ion-footer-bar class="bar-subfooter bar-balanced">
		<div class="button-bar critical">
			<a class="button button-clear slashing" ng-click="drawCard('critical','slashing')"></a>
			<a class="button button-clear piercing" ng-click="drawCard('critical','piercing')"></a>
			<a class="button button-clear bludgeoning" ng-click="drawCard('critical','bludgeoning')"></a>
			<a class="button button-clear magic" ng-click="drawCard('critical','magic')"></a>
		</div>
	</ion-footer-bar>

	<ion-footer-bar class="bar-assertive">
		<div class="button-bar fumble">
			<a class="button button-clear melee" ng-click="drawCard('fumble','melee')"></a>
			<a class="button button-clear ranged" ng-click="drawCard('fumble','ranged')"></a>
			<a class="button button-clear natural" ng-click="drawCard('fumble','natural')"></a>
			<a class="button button-clear magic" ng-click="drawCard('fumble','magic')"></a>
		</div>
	</ion-footer-bar>

</ion-view>