<div class="card">
  <div class="item item-divider {{card.secondaryType}}" ng-class="{'item-balanced': card.primaryType == 'critical', 'item-assertive': card.primaryType == 'fumble', 'item-energized': card.primaryType == 'about'}">
    {{card.title}}
  </div>
  <div class="item item-text-wrap ">
    {{card.text}}
  </div>
  <div class="button-bar" ng-if="card.buttons.length">
    <a class="button about" ng-repeat="button in card.buttons" ng-click="placeCard('about', button.show)">
      {{button.title}}
    </a>
  </div>
</div>