<ion-content class="has-subfooter has-header" has-bouncing="true" ng-controller="CardsController">
	<ion-list can-swipe=true>
		<ion-item ng-repeat="card in drawnCards track by $index">

			<card ng-if="card.primaryType == 'critical' || card.primaryType == 'fumble'"></card>

			<help ng-if="card.primaryType == 'help'"></help>

			<about ng-if="card.primaryType == 'about'"></about>

			<license ng-if="card.primaryType == 'license'"></license>

			<opensource ng-if="card.primaryType == 'opensource'"></opensource>

		</ion-item>
	</ion-list>
</ion-content>
