<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/cards-controller.js"></script>
</head>

<body ng-app="criticalRoller">

  <ion-pane ng-controller="CardsController">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Critical Roll</h1>
    </ion-header-bar>
    <ion-content>

      <ion-list can-swipe=true>
        <ion-item ng-repeat="card in drawnCards track by $index" on-swipe="remove($index)">
          <div class="card">
            <div class="item item-divider item-{{card.rollType}} {{card.attackType}} ">
              {{card.title}} {{card.name}}
            </div>
            <div class="item item-text-wrap ">
              {{card.text}}
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>

    <div>
      <ion-footer-bar class="bar-subfooter bar-balanced ">
        <div class="button-bar ">
          <a class="button slashing" ng-click="draw( 'critical', 'slashing') "></a>
          <a class="button piercing" ng-click="draw( 'critical', 'piercing') "></a>
          <a class="button bludgeoning" ng-click="draw( 'critical', 'bludgeoning') "></a>
          <a class="button magic" ng-click="draw( 'critical', 'magic') "></a>
        </div>
      </ion-footer-bar>

      <ion-footer-bar class="bar-assertive ">
        <div class="button-bar ">
          <a class="button melee" ng-click="draw( 'fumble', 'melee') "></a>
          <a class="button ranged" ng-click="draw( 'fumble', 'ranged') "></a>
          <a class="button natural" ng-click="draw( 'fumble', 'natural') "></a>
          <a class="button magic" ng-click="draw( 'fumble', 'magic') "></a>
        </div>
      </ion-footer-bar>
    </div>
  </ion-pane>
</body>

</html>