<ion-view view-title="{{slideTitle[slideIndex]}}">

	<ion-nav-buttons side="left">
		<button class="button button-clear icon-arrow-left"
						ng-click="previous()" ng-show="slideIndex > 0">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear icon-arrow-right"
						ng-class="{'icon-arrow-right':slideIndex < slidesCount(),'icon-checkmark':slideIndex === slidesCount()}"
						ng-click="next()">
		</button>
	</ion-nav-buttons>

	<ion-slide-box class="has-header has-footer" active-slide="slideIndex" on-slide-changed="slideChanged(index)">
		<ion-slide id="slide1">
			<div>
				<div class="row row-center">
					<div class="col-80 col-center">
						<strong>¿Para qué sirve esta App?</strong><br/>
						Para juegos de rol de mesa como Pathfinder y Dungeon and Dragons 3.5
					</div>
					<div class="col-20 col-center">
						<span class="icon-character big dice"></span>
					</div>
				</div>

				<div class="row row-center">
					<div class="col-20 col-center">
						<span class="icon-character big dice"></span>
					</div>
					<div class="col-80 col-center">
						<strong>¿Y qué hace?</strong><br/>
						Permite sumarle acción a un encuentro, provocando efectos inesperados en golpes críticos o pifias
					</div>
				</div>
			</div>

		</ion-slide>
		<ion-slide id="slide2">
			<div>
				<div class="row row-center responsive-sm">
					<div class="col col-center">
						<div class="critical">
							<a class="button button-balanced slashing"
								 ng-click="openPopover($event, 'intro', 'INTRO-SLASHING-WEAPON')"></a>
							<a class="button button-balanced piercing"
								 ng-click="openPopover($event, 'intro', 'INTRO-PIERCING-WEAPON')"></a>
							<a class="button button-balanced bludgeoning"
								 ng-click="openPopover($event, 'intro', 'INTRO-BLUDGEONING-WEAPON')"></a>
							<a class="button button-balanced magic"
								 ng-click="openPopover($event, 'intro', 'INTRO-MAGIC-ATTACK')"></a>
						</div>
						<div>Cuando confirmes un crítico, selecciona el tipo de arma con el que atacaste.</div>
						<div>Armas con multiplicador de x3 o x4, eligen el mejor entre 2 y 3 efectos.</div>
					</div>
					<div class="col col-center">
						<div class="fumble">
							<a class="button button-assertive melee"
								 ng-click="openPopover($event, 'intro', 'INTRO-MELEE-ATTACK')"></a>
							<a class="button button-assertive ranged"
								 ng-click="openPopover($event, 'intro', 'INTRO-RANGED-ATTACK')"></a>
							<a class="button button-assertive natural"
								 ng-click="openPopover($event, 'intro', 'INTRO-NATURAL-ATTACK')"></a>
							<a class="button button-assertive magic"
								 ng-click="openPopover($event, 'intro', 'INTRO-MAGIC-ATTACK')"></a>
						</div>
						<div>En caso de una pifia, selecciona el tipo de ataque que utilizaste.</div>
						<div>Sólo selecciona un efecto, que algunos pueden ser devastadores.</div>
					</div>
				</div>
			</div>

		</ion-slide>
		<ion-slide id="slide3">
			<div>
				<div class="row row-center responsive-sm">
					<div class="col col-center">
						<ion-item>
							<card></card>
						</ion-item>
					</div>
					<div class="col col-center">
						<div>Aplica el efecto indicado en las cartas si es acorde a la situación y listo.</div>
						<div>Si hay un subrayado
							<a class="popover-link" ng-click="openPopover($event, 'intro', 'INTRO-POPOVER-EXAMPLE')">como este</a>,
							seleccionalo y te mostrará una ayuda.
						</div>
					</div>
				</div>
			</div>


		</ion-slide>
		<ion-slide id="slide4">
			<p>
				Esta App no sería posible sin el espíritu de la OGL en la que se basan los mazos de Paizo:
				<a class="link" onclick="openLink('http://paizo.com/products/btpy8ysr')">Gamemastery Critical Hit</a>
				y
				<a class="link" onclick="openLink('http://paizo.com/products/btpy89mn')">Gamemastery Critical Fumble</a>.
			</p>

			<p>
				Además está inspirada en las Apps
				<a class="link" onclick="openLink('http://paizo.com/products/btpy8rwf')">iCrit</a> y
				<a class="link" onclick="openLink('http://paizo.com/products/btpy8rwg')">iFumble</a>
				como alternativa libre para poder hacer algunas mejoras. Por favor, revísa los links de arriba así puedes elegir
				entre la alternativa que más te guste.
			</p>

			<p>
				Esta App no está avalada por Paizo Publishing, LLC o Wizards of the Coast, Inc. Si tienes sobre las
				licencias, <a class="link" ng-click="showLicense()">presiona aquí para saber más</a>.
			</p>
		</ion-slide>
	</ion-slide-box>

</ion-view>