<ion-view view-title="{{'SETTINGS-TITLE' | translate}}">

  <ion-nav-buttons side="left">
    <a id="home" href="#/app/main" class="button button-icon button-clear">
      <cr-icon type="settings"></cr-icon>
    </a>
  </ion-nav-buttons>

  <ion-content id="settings" class="has-header" has-bouncing="true">

    <ion-item>
      <h2>{{'SETTINGS-SYSTEM' | translate}}</h2>
      <ion-list>
        <ion-radio name="system" ng-model="settings.values.system" ng-change="settings.refreshSettings()"
                   ng-value="'pfrpg'">
          <span>{{'PATHFINDER' | translate}}</span>
        </ion-radio>
        <ion-radio name="system" ng-model="settings.values.system" ng-change="settings.refreshSettings()"
                   ng-value="'dnd3'">
          <span>{{'DnD3.5' | translate}}</span>
        </ion-radio>
        <ion-radio name="system" ng-model="settings.values.system" ng-change="settings.refreshSettings()"
                   ng-value="'dnd5'">
          <span>{{'DnD5' | translate}}</span>
          <a class="tag coming-soon" ng-if="settings.values.language == 'es'">
            <span>{{'COMING-SOON' | translate}}</span>
            <i class="icon ion-heart-broken"></i>
          </a>
        </ion-radio>

      </ion-list>
    </ion-item>

    <ion-item>
      <h2>{{'SETTINGS-LANGUAGE' | translate}}</h2>
      <ion-list>
        <ion-radio name="language" ng-model="settings.values.language" ng-change="settings.refreshSettings()"
                   ng-value="'en'">
          {{'ENGLISH' | translate}}
        </ion-radio>
        <ion-radio name="language" ng-model="settings.values.language" ng-change="settings.refreshSettings()"
                   ng-value="'es'">
          {{'SPANISH' | translate}}
        </ion-radio>
        <ion-radio name="language" ng-model="settings.values.language" ng-change="settings.refreshSettings()"
                   ng-value="'pt'" ng-disabled="true">
          <span class="disabled">{{'OTHER-LANGUAGES' | translate}}</span>
          <a class="tag help-wanted">
            {{'HELP-NEEDED' | translate}}
            <i class="icon ion-email"></i>
          </a>
        </ion-radio>

      </ion-list>
    </ion-item>

  </ion-content>
</ion-view>
