<ion-view view-title="{{'SETTINGS-TITLE' | translate}}">

	<ion-nav-buttons side="left">
		<a id="home" href="#/app/main" class="button button-icon button-clear">
			<icon type="d20s"></icon>
		</a>
	</ion-nav-buttons>

	<ion-content id="settings" class="has-header" has-bouncing="true" overflow-scroll="false">

		<ion-item>
			<div class="row row-center">
				<div class="col col-67">
					<h2>{{'SETTINGS-LANGUAGE' | translate}}</h2>
				</div>
				<div class="col col-33">
					<button class="button button-toggle" ng-click="set('language', 'en')"
									ng-class="{active: get('language')=='en'}">
						{{'ENGLISH' | translate}}
					</button>
					<br>
					<button class="button button-toggle" ng-click="set('language','es')"
									ng-class="{active: get('language')=='es'}">
						{{'SPANISH' | translate}}
					</button>
					<br>
					<button class="button button-toggle" disabled="disabled">
						{{'PORTUGUESE' | translate}}
					</button>
					<a class="tag help-wanted" href="#" ng-click="openLink('feedback')">{{'HELP-WANTED' | translate}}</a>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="row row-center">
				<div class="col col-67">
					<h2>{{'SETTINGS-SYSTEM' | translate}}</h2>
				</div>
				<div class="col col-33">
					<button class="button button-toggle" ng-click="set('system', 'pfrpg')"
									ng-class="{active: get('system')=='pfrpg'}">
						{{'PATHFINDER' | translate}}
					</button>
					<br>
					<button class="button button-toggle" ng-click="set('system', 'dnd3')"
									ng-class="{active: get('system')=='dnd3'}">
						{{'DnD3.5' | translate}}
					</button>
					<br>
					<button class="button button-toggle" disabled="disabled">
						{{'DnD5' | translate}}
					</button>
					<a class="tag coming-soon" href="#">{{'COMING-SOON' | translate}}</a>
				</div>
			</div>
		</ion-item>

	</ion-content>
</ion-view>