<ion-view view-title="CriticalRoll">

	<ion-nav-buttons side="left">
		<button id="menu-button" class="button button-icon button-clear" menu-toggle="left">
			<icon type="navicon"></icon>
		</button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<button id="trash" class="button button-fab button-calm" ng-click="removeAll()">
			<icon type="trash"></icon>
		</button>
	</ion-nav-buttons>

	<ion-content class="has-subfooter has-header" has-bouncing="true" overflow-scroll="false">
		<ion-list can-swipe=true>

			<div id="card-list" class="card-animation" ng-repeat="card in drawnCards track by $index">
				<div class="item list card stable-bg">

					<div class="title-wrapper">
						<span class="icon item-image button card-badge"
									ng-class="[{'button-balanced':card.primaryType=='critical','button-assertive':card.primaryType=='fumble'}]">

							<icon type="{{card.primaryType + '-' + card.secondaryType}}"></icon>
						</span>

						<div class="card-title item item-text-wrap">
							{{card.title | translate}}
						</div>
					</div>

					<div class="card-text item item-body" content="card.text">
						<span ng-bind-html="card.text | translate | parseHTML" compile-template></span>
					</div>

				</div>

			</div>
	</ion-content>

	<div id="critical-button-bar" class="bar bar-subfooter bar-balanced">
		<div class="button-bar critical">
			<a class="button button-raised ink-dark"
				 ng-click="drawCard('critical','slashing')">
				<icon type="critical-slashing"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-critical-piercing"
				 ng-click="drawCard('critical','piercing')">
				<icon type="critical-piercing"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-critical-bludgeoning"
				 ng-click="drawCard('critical','bludgeoning')">
				<icon type="critical-bludgeoning"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-critical-magic"
				 ng-click="drawCard('critical','magic')">
				<icon type="critical-magic"></icon>
			</a>
		</div>
	</div>

	<div id="fumble-button-bar" class="bar bar-footer bar-assertive">
		<div class="button-bar fumble">
			<a class="button button-raised ink-dark criticalroll-icon-fumble-melee"
				 ng-click="drawCard('fumble','melee')">
				<icon type="fumble-melee"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-fumble-ranged"
				 ng-click="drawCard('fumble','ranged')">
				<icon type="fumble-ranged"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-fumble-natural"
				 ng-click="drawCard('fumble','natural')">
				<icon type="fumble-natural"></icon>
			</a>
			<a class="button button-raised ink-dark criticalroll-icon-fumble-magic"
				 ng-click="drawCard('fumble','magic')">
				<icon type="fumble-magic"></icon>
			</a>
		</div>
	</div>


</ion-view>