<ion-popover-view class="fit platform-ios" ng-controller="MenuController">
	<ion-content scroll="false">
		<ion-list>
			<ion-item ng-click="intro()">
				<span>{{'HELP' | translate}}</span>
			</ion-item>
			<ion-item ng-click="showOption('contribute')">
				<span>{{'CONTRIBUTE' | translate}}</span>
			</ion-item>
			<ion-item ng-click="share()">
				<span>{{'SOCIAL-SHARING' | translate}}</span>
			</ion-item>
			<ion-item class="item-select">
				<span>{{'LANGUAGE' | translate}}</span>
				<select ng-controller="LanguageController" ng-model="selected"
								ng-options="language as language.label for language in languages"
								ng-change="changeLanguage()"></select>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>